<section class="fill-balance">
    {{#each system.skills as |skill id|}}
    <div class="flexcol">
        <div class="flex-group-center encapsule">
            <h3>{{skill.label}}</h3>
            <div class="flexrow">
                <span class="skill-image">
                    <a class="rollable" data-roll-type="skill" data-skill="{{id}}"
                        data-label="<h2>{{skill.label}}</h2>">
                        <img class="skill-icon" src="{{skill.icon}}" title="{{skill.label}}" /></a>
                </span>
                <p>{{localize 'FORMORIA.Max'}}</p>
                <img class="skill-icon" src="{{skill.diceIcon}}" alt="{{skill.max}}">

                <p>{{localize 'FORMORIA.Current'}}</p>
                <select class="selectattribute" name="system.skills.{{id}}.current" data-type="String">
                    {{#select skill.current}}
                    {{#each ../dice as |d did|}}
                    <option value="{{d.label}}">{{d.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    {{/each}}
</section>
<div class="grid-2col">
    <button class="restore">{{localize 'FORMORIA.Restore'}}</button>
    <button class="edit">{{localize 'FORMORIA.Edit'}}</button>
</div>

<p>Asigna un valor de d10, uno de d8 y tres de d6 a las habilidades sin repetir. La sobrante tendrá un valor de d4.</p>