<section class="fill-balance">
    {{#each system.skills as |skill id|}}
    <div class="flexcol">
        <div class="flex-group-center encapsule">
            <h3>{{skill.label}}</h3>
            <div class="flexrow">
                <span class="skill-image">
                    <a class="rollable" data-roll-type="skill" data-skill="{{id}}" data-label="<h2>{{skill.label}}</h2>"><img class="skill-icon"
                            src="{{skill.icon}}" title="{{skill.label}}" /></a>
                </span>
                <div>{{localize 'FORMORIA.Max'}}</div>
                <select class="selectattribute" name="system.skills.{{id}}.max" data-type="String">
                    {{#select skill.max}}
                    {{#each ../dice as |d did|}}
                    <option value="{{d}}">{{d}}</option>
                    {{/each}}
                    {{/select}}
                </select>

                <div>{{localize 'FORMORIA.Current'}}</div>
                <select class="selectattribute" name="system.skills.{{id}}.current" data-type="String">
                    {{#select skill.current}}
                    {{#each ../dice as |d did|}}
                    <option value="{{d}}">{{d}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    {{/each}}
</section>